@font-face {
  font-family: 'Digital2';
  src: url('Digital2.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Digital1';
  src: url('Digital1.ttf');
  font-weight: normal;
  font-style: normal;
}
